.header-background {
    background-image: url('../../assets/img/banner.jpg'); 
    background-size: cover; /* Cambiamos a cover para que la imagen se ajuste al contenedor */
    background-position: center;
}