//footer.bg-dark.py-4.mt-auto
    .container.px-5
        .row.align-items-center.justify-content-between.flex-column.flex-sm-row
            .col-auto
                .small.m-0.text-white Copyright &copy; Cindy Pereyra 2024


footer.bg-dark.py-4.mt-auto
  .container.px-5
    .row.align-items-center.justify-content-center.flex-column
      .col-auto.text-center
        .small.m-0.text-white Copyright &copy; Cindy Pereyra 2024
