doctype html
html(lang='en')

    head

        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
        meta(name='description', content='')
        meta(name='author', content='')

        title Modern Business - Start Bootstrap Template

        // Favicon
        link(rel='icon', type='image/x-icon', href='assets/favicon.ico')

        include includes/css.pug

    body.d-flex.flex-column

        main.flex-shrink-0

            // Navigation
            include includes/navbar.pug

            // Page Content
            section.py-5
                .container.px-5.my-5

                    .row.gx-5

                        .col-lg-3
                            .d-flex.align-items-center.mt-lg-5.mb-4
                                img.img-fluid.rounded-circle(src='https://dummyimage.com/50x50/ced4da/6c757d.jpg', alt='...')
                                .ms-3
                                    .fw-bold Cindy Pereyra
                                    .text-muted Noticias, mejores rutas

                        .col-lg-9

                            // Post content
                            article

                                // Post header
                                header.mb-4

                                    // Post title
                                    h1.fw-bolder.mb-1 La mítica "Ruta 66"

                                    // Post meta content
                                    .text-muted.fst-italic.mb-2 2 de diciembre de 2023

                                    // Post categories
                                    a.badge.bg-secondary.text-decoration-none.link-light(href='https://viajes.nationalgeographic.com.es/a/curiosidades-mitica-ruta-66-carretera-casi-centenaria_8936') Recorrido
                                    a.badge.bg-secondary.text-decoration-none.link-light(href='https://www.pontgrup.com/blog/ruta-66-moto/') Recomendaciones

                                // Preview image figure
                                figure.mb-4
                                    img.img-fluid.rounded(src='../assets/img/ruta66_rider.webp', alt='...')

                                // Post content
                                section.mb-5

                                    p.fs-5.mb-4 La Ruta 66, conocida como la "Calle Principal de América", es una de las carreteras más icónicas del mundo, extendiéndose desde Chicago, Illinois, hasta Santa Mónica, California. Este recorrido de 2,448 millas ofrece a los motociclistas una mezcla única de historia, cultura y paisajes impresionantes, convirtiéndolo en una experiencia obligatoria para los amantes de la aventura.

                                    p.fs-5.mb-4 El viaje comienza en Chicago, donde los motociclistas pueden explorar la vibrante ciudad antes de dirigirse hacia el oeste. A lo largo del camino, pasarás por el Medio Oeste, visitando lugares emblemáticos como Springfield y St. Louis. Esta primera parte del viaje te llevará a través de vastas planicies y paisajes cambiantes, ofreciendo un primer vistazo a la diversidad de la Ruta 66.
                                    p.fs-5.mb-4 Al adentrarte en el suroeste, la Ruta 66 te lleva a través de Oklahoma, Texas, Nuevo México y Arizona. Aquí, encontrarás puntos de interés como el Cadillac Ranch en Texas y el Parque Nacional del Gran Cañón en Arizona. Cada parada en esta parte del viaje ofrece una rica historia y vistas espectaculares, destacando la herencia cultural y natural de la región.
                                    p.fs-5.mb-4 En Nuevo México, la ciudad de Santa Fe te sorprenderá con su arquitectura de adobe y su vibrante escena artística. A medida que avanzas, el paisaje desértico de Arizona ofrece una experiencia única antes de llegar a California. En esta última etapa, el desierto de Mojave y las ciudades de Barstow y San Bernardino te preparan para el tramo final del viaje.
                                    p.fs-5.mb-4 Finalmente, al llegar a California, cruzarás el desierto de Mojave antes de terminar tu viaje en el muelle de Santa Mónica. Este destino final ofrece una celebración perfecta de tu travesía, con la hermosa costa del Pacífico como telón de fondo. La Ruta 66 no solo es un viaje en moto, sino una inmersión profunda en el corazón de los Estados Unidos, llena de aventura y descubrimiento.
                                    h2.fw-bolder.mb-4.mt-5 En resumen
                                    p.fs-5.mb-4 La Ruta 66, conocida como la "Calle Principal de América", se extiende desde Chicago hasta Santa Mónica, abarcando 2,448 millas llenas de historia, cultura y paisajes impresionantes. Este icónico recorrido atraviesa el Medio Oeste y el suroeste de EE.UU., pasando por lugares emblemáticos como el Cadillac Ranch y el Gran Cañón. Finalmente, el viaje culmina en el muelle de Santa Mónica, ofreciendo una experiencia inolvidable para los amantes de la aventura en motocicleta.
                                    
        // Footer
        include includes/footer.pug

        include includes/scripts.pug
