doctype html
html(lang='en')

    head

        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
        meta(name='description', content='Review de la KTM 1290 Super Duke GT')
        meta(name='author', content='Cindy Pereyra')
        meta(name='keywords', content='KTM, Super Duke, moto, nueva')
        meta(name='robots', content='index, follow')
        
        // Etiquetas Open Graph para Facebook y otras redes sociales
        meta(property='og:title', content='Review de la KTM 1290 Super Duke GT- CP Motos')
        meta(property='og:description', content='Review de la KTM 1290 Super Duke GT')
    
        
        // Etiquetas Twitter Card
        meta(name='twitter:card', content='summary_large_image')
        meta(name='twitter:title', content='Review de la Suzuki Hayabusa - CP Motos')
        meta(name='twitter:description', content='Review de la KTM 1290 Super Duke GT')
        

        title CP Motos - Tu comunidad motera

        // Favicon
        link(rel='icon', type='image/x-icon', href='../assets/favicon.ico')

        include includes/css.pug

    body.d-flex.flex-column

        main.flex-shrink-0

            // Navigation
            include includes/navbar.pug

            // Page Content
            section.py-5
                .container.px-5.my-5

                    .row.gx-5

                        .col-lg-3
                            .d-flex.align-items-center.mt-lg-5.mb-4
                                img.img-fluid.rounded-circle(src='assets/img/reportera1_50x50.webp', alt='Periodista Marcela Sanchez')
                                .ms-3
                                    .fw-bold Marcela Sánchez
                                    .text-muted Nuevo Modelo, KTM Super Duke GT

                        .col-lg-9

                            // Post content
                            article

                                // Post header
                                header.mb-4

                                    // Post title
                                    h1.fw-bolder.mb-1 Review de la KTM 1290 Super Duke GT

                                    // Post meta content
                                    .text-muted.fst-italic.mb-2 17 de mayo 2024

                                    // Post categories
                                    a.badge.bg-secondary.text-decoration-none.link-light(href='#!') Nuevo Modelo
                                    a.badge.bg-secondary.text-decoration-none.link-light(href='#!') KTM

                                // Preview image figure
                                figure.mb-4
                                    img.img-fluid.rounded(src='../assets/img/ktm1290-super-duke-gt-900x400.webp', alt='Moto KTM 1290 Super Duke GT ')

                                // Post content
                                section.mb-5

                                    p.fs-5.mb-4 KTM, una marca austriaca fundada en 1953, es conocida por sus motocicletas de alto rendimiento tanto en el ámbito del motocross como en el de las motocicletas deportivas y de aventura. La KTM 1290 Super Duke GT es uno de los modelos más destacados de la marca, diseñada para ofrecer una combinación perfecta entre rendimiento deportivo y capacidad de turismo.
                                    p.fs-5.mb-4 La KTM 1290 Super Duke GT está equipada con un motor bicilíndrico en V a 75 grados, conocido por su alto rendimiento y eficiencia. Este motor V-twin es uno de los más potentes en el segmento de las motocicletas deportivas y de turismo.El motor produce aproximadamente 175 caballos de fuerza (130 kW) a 9,750 rpm, lo que proporciona una aceleración impresionante y una velocidad máxima de alrededor de 250 km/h.
                                    p.fs-5.mb-4 Tiene un diseño agresivo y futurista, con líneas angulares y una estética deportiva que refleja su rendimiento. Cuenta con un carenado aerodinámico que mejora la estabilidad a altas velocidades y protege al conductor del viento. La posición de conducción es cómoda y erguida, adecuada para viajes largos.
                                    p.fs-5.mb-4 La KTM 1290 Super Duke GT es una motocicleta que combina la potencia y agilidad de una moto deportiva con la comodidad y capacidad de una moto de turismo. Es una opción ideal para los motociclistas que buscan versatilidad sin comprometer el rendimiento. Con su diseño agresivo, avanzada tecnología y características orientadas al confort, la Super Duke GT se destaca como una de las mejores opciones en su categoría.

                                    h2.fw-bolder.mb-4.mt-5 Precio
                                    
                                    p.fs-5.mb-4La La KTM 1290 Super Duke GT tiene un precio aproximado de USD 39.490 en Uruguay.

                                // Blog preview section
                                section.py-5
                                    .container.px-5.my-5
                                        .row.gx-5.justify-content-center
                                           h2.fw-bolder Otras rutas
                                            .col-lg-8.col-xl-6
                                                 
                                        .row.gx-6
                                            .col-lg-4.mb-5
                                                 article.card.h-100.shadow.border-0
                                                    img.card-img-top(src='assets/img/hayabusa_2024.jpg' alt='Moto Suzuki Hayabusa')
                                                    .card-body.p-4
                                                        .badge.bg-primary.bg-gradient.rounded-pill.mb-2 Novedades
                                                        a.text-decoration-none.link-dark.stretched-link(href='blog-post-4-hayabusa.html')
                                                            h5.card-title.mb-3 Suzuki Hayabusa 2024
                                                        p.card-text.mb-0
                                                            | La Hayabusa es una moto deportiva de alto rendimiento con un motor de 1340 cc. Destaca por su aceleración impresionante, diseño aerodinámico y tecnología avanzada, con frenos ABS y control de tracción. Ideal para los amantes de la velocidad.
                                                    .card-footer.p-4.pt-0.bg-transparent.border-top-0
                                                        .d-flex.align-items-end.justify-content-between
                                                            .d-flex.align-items-center
                                                                img.rounded-circle.me-3(src='assets/img/reportero_40x40.webp', alt='Imagen de reportero Pedro Hernández')
                                                                .small
                                                                    .fw-bold Marcela Sánchez 
                                                                    .text-muted 17 de mayo 2023 &middot; 9 minutos
                                            .col-lg-4.mb-5
                                                 article.card.h-100.shadow.border-0
                                                    img.card-img-top(src='assets/img/bmw_2024_600x350.webp' alt='Moto BMW')
                                                    .card-body.p-4
                                                        .badge.bg-primary.bg-gradient.rounded-pill.mb-2 Novedades
                                                        a.text-decoration-none.link-dark.stretched-link(href='blog-post-6-bmw.html')
                                                            h5.card-title.mb-3 Review de Modelo de BMW K1600 GT
                                                        p.card-text.mb-0
                                                            | La BMW K1600 GT 2024 es una moto de turismo de lujo con un motor de seis cilindros y 1600 cc. Destaca por su comodidad, tecnología avanzada y potente rendimiento, ideal para viajes largos y aventuras.
                                                    .card-footer.p-4.pt-0.bg-transparent.border-top-0
                                                        .d-flex.align-items-end.justify-content-between
                                                            .d-flex.align-items-center
                                                                img.rounded-circle.me-3(src='assets/img/reportero_40x40.webp', alt='Imagen de reportero Pedro Hernández')
                                                                .small
                                                                    .fw-bold Pedro Hernández
                                                                    .text-muted 16 de junio 2023 &middot; 10 minutos
                                    
        // Footer
        include includes/footer.pug

        include includes/scripts.pug
