doctype html
html(lang='en')

    head

        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
        meta(name='description', content='Review de la nueva BMW K 1600 GT')
        meta(name='author', content='Cindy Pereyra')
        meta(name='keywords', content='bmw, k1600gt, moto, nueva, gt,')
        meta(name='robots', content='index, follow')
        
        // Etiquetas Open Graph para Facebook y otras redes sociales
        meta(property='og:title', content='Review de la moto BMW K 1600 GT - CP Motos')
        meta(property='og:description', content='Review de la nueva BMW K 1600 GT, lanzada en 2024')
    
        
        // Etiquetas Twitter Card
        meta(name='twitter:card', content='summary_large_image')
        meta(name='twitter:title', content='Review de la nueva BMW K 1600 GT - CP Motos')
        meta(name='twitter:description', content='Review de la nueva BMW K 1600 GT, lanzada en 2024.')
        

        title CP Motos - Tu comunidad motera

        // Favicon
        link(rel='icon', type='image/x-icon', href='../assets/favicon.ico')

        include includes/css.pug

    body.d-flex.flex-column

        main.flex-shrink-0

            // Navigation
            include includes/navbar.pug

            // Page Content
            section.py-5
                .container.px-5.my-5

                    .row.gx-5

                        .col-lg-3
                            .d-flex.align-items-center.mt-lg-5.mb-4
                                img.img-fluid.rounded-circle(src='assets/img/reportera1_50x50.webp', alt='Periodista Marcela Sanchez')
                                .ms-3
                                    .fw-bold Marcela Sánchez
                                    .text-muted Nuevo Modelo, BMW

                        .col-lg-9

                            // Post content
                            article

                                // Post header
                                header.mb-4

                                    // Post title
                                    h1.fw-bolder.mb-1 Review de la BMW K 1600 GT 2024

                                    // Post meta content
                                    .text-muted.fst-italic.mb-2 10 de mayo 2024

                                    // Post categories
                                    a.badge.bg-secondary.text-decoration-none.link-light(href='#!') Nuevo Modelo
                                    a.badge.bg-secondary.text-decoration-none.link-light(href='#!') BMW

                                // Preview image figure
                                figure.mb-4
                                    img.img-fluid.rounded(src='../assets/img/BMW-K-1600-GT-900x400.webp', alt='Moto BMW K 1600 GT 2024')

                                // Post content
                                section.mb-5

                                    p.fs-5.mb-4 BMW, fundada en 1916, es una marca alemana reconocida por su ingeniería avanzada y su compromiso con la calidad. La BMW K 1600 GT es una motocicleta de turismo deportivo de alta gama que combina lujo, rendimiento y tecnología avanzada para proporcionar una experiencia de conducción inigualable.
                                    p.fs-5.mb-4 La BMW K 1600 GT 2024 está equipada con un motor de 1,649 cc, seis cilindros en línea y DOHC, que ofrece una potencia de 160 caballos de fuerza a 6,750 rpm y un torque de 132.7 lb-ft a 5,250 rpm. Este motor es alimentado por un sistema de inyección electrónica con gestión digital del motor BMS-O y acelerador electrónico (Ride-by-Wire), proporcionando una aceleración suave y precisa. Su velocidad máxima es de 200 km/h.
                                    p.fs-5.mb-4  Su estructura incluye un chasis de tipo puente de aluminio, con el motor como elemento portante, proporcionando una estabilidad y maniobrabilidad excepcionales. El asiento ajustable en altura y la posición de conducción ergonómica aseguran comodidad en viajes largos.
                                    p.fs-5.mb-4 El diseño aerodinámico de la BMW K 1600 GT ha sido optimizado para mejorar la velocidad y la eficiencia, ofreciendo una experiencia de conducción suave y estable. La motocicleta presenta una silueta elegante y bien proporcionada, con un carenado envolvente que minimiza la resistencia al viento y protege al conductor de las inclemencias del tiempo.

                                    h2.fw-bolder.mb-4.mt-5 Precio
                                    
                                    p.fs-5.mb-4La La BMW K 1600 GT iene un precio aproximado de USD 39.900 en Uruguay.

                                // Blog preview section
                                section.py-5
                                    .container.px-5.my-5
                                        .row.gx-5.justify-content-center
                                          h2.fw-bolder Otras rutas
                                            .col-lg-8.col-xl-6
                                                .text-center
                                                  
                                        .row.gx-6
                                            .col-lg-4.mb-5
                                                article.card.h-100.shadow.border-0
                                                    img.card-img-top(src='assets/img/ktm-super-duke-gt.webp', alt='KTM')
                                                    .card-body.p-4
                                                        .badge.bg-primary.bg-gradient.rounded-pill.mb-2 Novedades
                                                        a.text-decoration-none.link-dark.stretched-link(href='blog-post-5-ktm1290.html')
                                                            h5.card-title.mb-3 Review de la KTM 1290
                                                        p.card-text.mb-0
                                                            | La KTM 1290 Super Duke GT es una moto deportiva y de turismo con un potente motor V-twin de 1301 cc. Ofrece tecnología avanzada, suspensión semiactiva y modos de conducción ajustables, ideal para viajes largos y emocionantes.
                                                    .card-footer.p-4.pt-0.bg-transparent.border-top-0
                                                        .d-flex.align-items-end.justify-content-between
                                                            .d-flex.align-items-center
                                                                img.rounded-circle.me-3(src='assets/img/reportera2_40x40.webp', alt='Imagen de reportera Cindy Pereyra')
                                                                .small
                                                                    .fw-bold Cindy Pereyra
                                                                    .text-muted 20 de diciembre de 2023 &middot; 4 minutos 
                                            .col-lg-4.mb-5
                                                 article.card.h-100.shadow.border-0
                                                    img.card-img-top(src='assets/img/hayabusa_2024.jpg' alt='Moto Suzuki Hayabusa')
                                                    .card-body.p-4
                                                        .badge.bg-primary.bg-gradient.rounded-pill.mb-2 Novedades
                                                        a.text-decoration-none.link-dark.stretched-link(href='blog-post-4-hayabusa.html')
                                                            h5.card-title.mb-3 Suzuki Hayabusa 2024
                                                        p.card-text.mb-0
                                                            | La Hayabusa es una moto deportiva de alto rendimiento con un motor de 1340 cc. Destaca por su aceleración impresionante, diseño aerodinámico y tecnología avanzada, con frenos ABS y control de tracción. Ideal para los amantes de la velocidad.
                                                    .card-footer.p-4.pt-0.bg-transparent.border-top-0
                                                        .d-flex.align-items-end.justify-content-between
                                                            .d-flex.align-items-center
                                                                img.rounded-circle.me-3(src='assets/img/reportero_40x40.webp', alt='Imagen de reportero Pedro Hernández')
                                                                .small
                                                                    .fw-bold Marcela Sánchez 
                                                                    .text-muted 17 de mayo 2023 &middot; 9 minutos
                                    
        // Footer
        include includes/footer.pug

        include includes/scripts.pug
