doctype html
html(lang='en')

    head

        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
        meta(name='description', content='Review de la Suzuki Hayabusa')
        meta(name='author', content='Cindy Pereyra')
        meta(name='keywords', content='suzuki, hayabusa, moto, nueva')
        meta(name='robots', content='index, follow')
        
        // Etiquetas Open Graph para Facebook y otras redes sociales
        meta(property='og:title', content='Review de la Suzuki Hayabusa - CP Motos')
        meta(property='og:description', content='Review de la nueva Suzuki Hayabusa, lanzada en 2024')
    
        
        // Etiquetas Twitter Card
        meta(name='twitter:card', content='summary_large_image')
        meta(name='twitter:title', content='Review de la Suzuki Hayabusa - CP Motos')
        meta(name='twitter:description', content='Review de la nueva Suzuki Hayabusa, lanzada en 2024.')
        

        title CP Motos - Tu comunidad motera

        // Favicon
        link(rel='icon', type='image/x-icon', href='../assets/favicon.ico')

        include includes/css.pug

    body.d-flex.flex-column

        main.flex-shrink-0

            // Navigation
            include includes/navbar.pug

            // Page Content
            section.py-5
                .container.px-5.my-5

                    .row.gx-5

                        .col-lg-3
                            .d-flex.align-items-center.mt-lg-5.mb-4
                                img.img-fluid.rounded-circle(src='assets/img/reportera1_50x50.webp', alt='Periodista Marcela Sanchez')
                                .ms-3
                                    .fw-bold Marcela Sánchez
                                    .text-muted Nuevo Modelo, Suzuki

                        .col-lg-9

                            // Post content
                            article

                                // Post header
                                header.mb-4

                                    // Post title
                                    h1.fw-bolder.mb-1 Review de la Suzuki Hayabusa 2024

                                    // Post meta content
                                    .text-muted.fst-italic.mb-2 10 de mayo 2024

                                    // Post categories
                                    a.badge.bg-secondary.text-decoration-none.link-light(href='#!') Nuevo Modelo
                                    a.badge.bg-secondary.text-decoration-none.link-light(href='#!') Hayabusa

                                // Preview image figure
                                figure.mb-4
                                    img.img-fluid.rounded(src='../assets/img/suzuki_25.webp', alt='Moto Suzuki Hayabusa 2024')

                                // Post content
                                section.mb-5

                                    p.fs-5.mb-4 La Suzuki Hayabusa 2024, conocida por muchos como "La Reina de las Sportbikes", celebra su 25º aniversario con una edición especial que combina rendimiento, tecnología avanzada y un diseño inconfundible inspirado en el halcón peregrino.
                                    p.fs-5.mb-4 La Hayabusa 2024 está equipada con un motor de 1340cc, cuatro cilindros y DOHC, que ofrece una potencia de 187.74 caballos de fuerza y un torque de 110.6 ft-lb. El motor es alimentado por cuerpos de aceleración electrónicos Ride-by-Wire y entradas de aire Suzuki Ram Air Direct, proporcionando una aceleración suave y rápida. Además, el sistema de escape ha sido aligerado y diseñado para mejorar el flujo y el sonido del motor
                                    p.fs-5.mb-4 ELa Suzuki Intelligent Ride System (S.I.R.S.) incluye una amplia gama de ayudas electrónicas para el conductor, como el control de crucero, el sistema de cambio rápido bidireccional, control de tracción ajustable y modos de conducción personalizables. Estos sistemas permiten optimizar y personalizar el rendimiento de la motocicleta según las condiciones y preferencias del conductor​ 
                                    p.fs-5.mb-4 El diseño aerodinámico de la Hayabusa 2024 ha sido refinado en túneles de viento para mejorar la velocidad y la eficiencia. La motocicleta presenta una silueta baja y alargada, con carenados diseñados para minimizar la resistencia al viento. Las opciones de color incluyen combinaciones como Glass Blaze Orange & Glass Sparkle Black, y Metallic Thunder Gray & Candy Darling Red, que aportan un aspecto sofisticado y distintivo​

                                    h2.fw-bolder.mb-4.mt-5 Precio
                                    
                                    p.fs-5.mb-4La La edición 25º aniversario de la Suzuki Hayabusa tiene un precio aproximado de USD 34.900 en Uruguay.

                                // Blog preview section
                                section.py-5
                                    .container.px-5.my-5
                                        .row.gx-5.justify-content-center
                                            h2.fw-bolder Otras rutas
                                            .col-lg-8.col-xl-6
                                        .row.gx-6
                                            .col-lg-4.mb-5
                                                article.card.h-100.shadow.border-0
                                                    img.card-img-top(src='assets/img/ktm-super-duke-gt.webp', alt='KTM')
                                                    .card-body.p-4
                                                        .badge.bg-primary.bg-gradient.rounded-pill.mb-2 Novedades
                                                        a.text-decoration-none.link-dark.stretched-link(href='blog-post-5-ktm1290.html')
                                                            h5.card-title.mb-3 Review de la KTM 1290
                                                        p.card-text.mb-0
                                                            | La KTM 1290 Super Duke GT es una moto deportiva y de turismo con un potente motor V-twin de 1301 cc. Ofrece tecnología avanzada, suspensión semiactiva y modos de conducción ajustables, ideal para viajes largos y emocionantes.
                                                    .card-footer.p-4.pt-0.bg-transparent.border-top-0
                                                        .d-flex.align-items-end.justify-content-between
                                                            .d-flex.align-items-center
                                                                img.rounded-circle.me-3(src='assets/img/reportera2_40x40.webp', alt='Imagen de reportera Cindy Pereyra')
                                                                .small
                                                                    .fw-bold Cindy Pereyra
                                                                    .text-muted 20 de diciembre de 2023 &middot; 4 minutos                                            
                                            .col-lg-4.mb-5
                                                 article.card.h-100.shadow.border-0
                                                    img.card-img-top(src='assets/img/bmw_2024_600x350.webp' alt='Moto BMW')
                                                    .card-body.p-4
                                                        .badge.bg-primary.bg-gradient.rounded-pill.mb-2 Novedades
                                                        a.text-decoration-none.link-dark.stretched-link(href='blog-post-6-bmw.html')
                                                            h5.card-title.mb-3 Review de Modelo de BMW K1600 GT
                                                        p.card-text.mb-0
                                                            | La BMW K1600 GT 2024 es una moto de turismo de lujo con un motor de seis cilindros y 1600 cc. Destaca por su comodidad, tecnología avanzada y potente rendimiento, ideal para viajes largos y aventuras.
                                                    .card-footer.p-4.pt-0.bg-transparent.border-top-0
                                                        .d-flex.align-items-end.justify-content-between
                                                            .d-flex.align-items-center
                                                                img.rounded-circle.me-3(src='assets/img/reportero_40x40.webp', alt='Imagen de reportero Pedro Hernández')
                                                                .small
                                                                    .fw-bold Pedro Hernández
                                                                    .text-muted 16 de junio 2023 &middot; 10 minutos
                                                        
        // Footer
        include includes/footer.pug

        include includes/scripts.pug
