doctype html
html(lang='en')

    head

        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
        meta(name='description', content='Aventura en la Carretera Austral')
        meta(name='author', content='Cindy Pereyra')
        meta(name='keywords', content='Aventura en la Carretera Austral, Chile')
        meta(name='robots', content='index, follow')
        meta(property='og:title', content='Aventura en la Carretera Austral, Chile')
        meta(property='og:description', content='Sumergete en la aventura de una buena rodada en la Carretera Austral, sus curiosidades y recomendaciones para los amantes de la aventura en motocicleta.')
        meta(name='twitter:card', content='summary_large_image')
        meta(name='twitter:title', content='Aventura en la Carretera Austral - CP Motos')
        meta(name='twitter:description', content='Sumergete en la aventura de una buena rodada en la Carretera Austral, sus curiosidades y recomendaciones para los amantes de la aventura en motocicleta.')

        title CP Motos - Tu comunidad motera

        // Favicon
        link(rel='icon', type='image/x-icon', href='assets/favicon.ico')

        include includes/css.pug

    body.d-flex.flex-column

        main.flex-shrink-0

            // Navigation
            include includes/navbar.pug

            // Page Content
            section.py-5
                .container.px-5.my-5

                    .row.gx-5

                        .col-lg-3
                            .d-flex.align-items-center.mt-lg-5.mb-4
                                img.img-fluid.rounded-circle(src='assets/img/reportero_50x50.webp', alt='Imagen de reportero Pedro Hernández')
                                .ms-3
                                    .fw-bold Pedro Hernández
                                    .text-muted Noticias, Mejores rutas

                        .col-lg-9

                            // Post content
                            article

                                // Post header
                                header.mb-4

                                    // Post title
                                    h1.fw-bolder.mb-1 Aventura en la Carretera Austral

                                    // Post meta content
                                    .text-muted.fst-italic.mb-2 16 de junio 2023

                                    // Post categories
                                    a.badge.bg-secondary.text-decoration-none.link-light(href='#!') Recorridos
                                    a.badge.bg-secondary.text-decoration-none.link-light(href='#!') Recomendaciones

                                // Preview image figure
                                figure.mb-4
                                    img.img-fluid.rounded(src='../assets/img/carretera-austral900-400.webp', alt='La Carretera Austral es un destino de ensueño para cualquier motociclista aventurero.')

                                // Post content
                                section.mb-5

                                    p.fs-5.mb-4 La Carretera Austral, ubicada en el sur de Chile, es una de las rutas más espectaculares y desafiantes del mundo para los motociclistas. Esta carretera serpenteante de más de 1,200 kilómetros atraviesa paisajes de impresionante belleza, que incluyen montañas, bosques, ríos y lagos. La ruta comienza en Puerto Montt y se extiende hasta Villa O'Higgins, ofreciendo a los aventureros en moto una experiencia única llena de adrenalina y vistas panorámicas inigualables.
                                    p.fs-5.mb-4 Viajar en motocicleta por la Carretera Austral permite una conexión más íntima con la naturaleza. La libertad de movimiento y la cercanía con el entorno natural hacen que cada kilómetro recorrido sea una aventura memorable. Los motociclistas pueden sentir el aire fresco y escuchar los sonidos de la naturaleza mientras avanzan por caminos a menudo solitarios y poco transitados. Además, la flexibilidad de la motocicleta permite explorar caminos secundarios y rincones escondidos que serían inaccesibles en otros vehículos.
                                    p.fs-5.mb-4 Una de las principales atracciones de la Carretera Austral es el Parque Nacional Queulat, famoso por su Ventisquero Colgante. Este glaciar suspendido entre montañas es un espectáculo que deja sin aliento a cualquiera que lo contemple. El acceso en motocicleta a este parque es relativamente fácil, y el trayecto en sí es una experiencia emocionante, con curvas cerradas y vistas que cambian a cada momento. Los motociclistas pueden detenerse en múltiples miradores para capturar la belleza del paisaje en fotografías y descansar un poco antes de continuar su viaje.
                                    p.fs-5.mb-4 El clima en la Carretera Austral puede ser impredecible, lo que añade un nivel adicional de desafío para los motociclistas. Es fundamental estar bien preparado y equipado para enfrentar lluvias inesperadas, fuertes vientos y temperaturas que pueden variar significativamente en un solo día. La ropa adecuada, un buen equipo de protección y una moto en excelentes condiciones son esenciales para disfrutar de esta ruta de manera segura y cómoda. Los motociclistas experimentados saben que parte del encanto de esta aventura es precisamente la lucha contra los elementos.
                                    p.fs-5.mb-4 Finalmente, la hospitalidad de las comunidades locales a lo largo de la Carretera Austral es otro aspecto destacado de este viaje. Los pequeños pueblos y aldeas ofrecen a los viajeros lugares acogedores para descansar y reponer energías. La gastronomía local, con platos tradicionales como el cordero patagónico y los mariscos frescos, es una delicia que no se debe dejar pasar. Los motociclistas a menudo encuentran en estos pueblos no solo un refugio, sino también historias y experiencias compartidas con otros aventureros de distintas partes del mundo.
                                    h2.fw-bolder.mb-4.mt-5 En resumen
                                    p.fs-5.mb-4 la Carretera Austral es un destino de ensueño para cualquier motociclista aventurero. La combinación de paisajes impresionantes, desafíos climáticos y la rica cultura local hacen de este viaje una experiencia inolvidable. Con una buena preparación y el espíritu de aventura, recorrer esta carretera en moto se convierte en una travesía épica que deja una huella imborrable en quienes se atreven a enfrentarla.
                                
                                // Blog preview section
                                section.py-5
                                    .container.px-5.my-5
                                        .row.gx-5.justify-content-center
                                            .col-lg-8.col-xl-6
                                                .text-center
                                                    h2.fw-bolder Otras rutas
                                        .row.gx-6
                                            .col-lg-5.mb-6
                                                article.card.h-80.shadow.border-0
                                                    img.card-img-top(src='assets/img/ruta_siete_lagos.webp', alt='Encuentro de motos deportivas')
                                                    .card-body.p-4
                                                        .badge.bg-primary.bg-gradient.rounded-pill.mb-2 Novedades
                                                        a.text-decoration-none.link-dark.stretched-link(href='blog-post-1-7lagos.html')
                                                            h5.card-title.mb-3 Ruta de los Siete Lagos
                                                        p.card-text.mb-0
                                                            | Descubre la impresionante Ruta de los Siete Lagos en la Patagonia Argentina. Un recorrido de 110 km entre San Martín de los Andes y Villa La Angostura, pasando por lagos, montañas y bosques, perfecto para los amantes de la naturaleza.
                                                    .card-footer.p-4.pt-0.bg-transparent.border-top-0
                                                        .d-flex.align-items-end.justify-content-between
                                                            .d-flex.align-items-center
                                                                img.rounded-circle.me-3(src='assets/img/reportera1_40x40.webp', alt='Foto de Reportera Martina Rodríguez ')
                                                                .small
                                                                    .fw-bold Martina Rodríguez 
                                                                    .text-muted 17 de Febrero de 2024 &middot; 6 minutos
                                            .col-lg-5.mb-6
                                                article.card.h-80.shadow.border-0
                                                    img.card-img-top(src='../assets/img/card_ruta66_rider.webp', alt='Imagen de tres motos viajando por la mítica Ruta 66')
                                                    .card-body.p-4
                                                        .badge.bg-primary.bg-gradient.rounded-pill.mb-2 Novedades
                                                        a.text-decoration-none.link-dark.stretched-link(href='blog-post-2-ruta-66.html')
                                                            h5.card-title.mb-3 La mítica "Ruta 66"
                                                        p.card-text.mb-0
                                                            | Una travesía de 2,448 millas desde Chicago hasta Santa Mónica. Ideal para los amantes de la aventura, esta carretera ofrece un viaje inolvidable a través de la historia, cultura y paisajes impresionantes de los Estados Unidos.
                                                    .card-footer.p-4.pt-0.bg-transparent.border-top-0
                                                        .d-flex.align-items-end.justify-content-between
                                                            .d-flex.align-items-center
                                                                img.rounded-circle.me-3(src='assets/img/reportera2_40x40.webp', alt='Imagen de reportera Cindy Pereyra')
                                                                .small
                                                                    .fw-bold Cindy Pereyra
                                                                    .text-muted 20 de diciembre de 2023 &middot; 4 minutos                                 
                                    
        // Footer
        include includes/footer.pug

        include includes/scripts.pug
