doctype html
html(lang='en')

    head

        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
        meta(name='Sitio referente sobre el mundo de las motos, rutas, últimos modelos, eventos', content='')
        meta(name='author', content='')

        title CP Motos - Tu lugar de encuentro de motos

        // Favicon
        link(rel='icon', type='image/x-icon', href='assets/favicon.ico')

        include includes/css.pug

    body.d-flex.flex-column.h-100

        main.flex-shrink-0

            // Navigation
            include includes/navbar.pug

            // Header
            header.bg-dark.py-5.header-background
                .container.px-5
                    .row.gx-5.align-items-center.justify-content-center
                        .col-xl-5.col-xxl-6.d-none.d-xl-block.text-center
                        .col-lg-8.col-xl-7.col-xxl-6
                            .my-5.text-center.text-xl-start
                                h1.display-5.fw-bolder.text-white.mb-2 Bienvenido
                                p.lead.fw-normal.text-white-50.mb-4 Aquí encontrarás todo lo relacionado con el mundo de las motocicletas
                                .d-grid.gap-3.d-sm-flex.justify-content-sm-center.justify-content-xl-start
                                    a.btn.btn-outline-light.btn-lg.px-4(href='blog-post-1.html') Ruta recomendada


            // Testimonial section
            section.py-5.bg-light
                .container.px-5.my-5
                    .row.gx-5.justify-content-center
                        .col-lg-10.col-xl-7
                            .text-center
                                .fs-4.mb-4.fst-italic "Este sitio ha logrado reunir a los mayores referentes motociclistas del Uruguay, y ha creado una enorme comunidad, uniendo así a las personas que compartimos esta enorme pasión: las motos."
                                .d-flex.align-items-center.justify-content-center
                                    img.rounded-circle.me-3(src='assets/img/profile_pictures/robert_martinez.jpeg', alt='Foto de Robert Martínez')
                                    .fw-bold
                                        | Robert Martínez
                                        span.fw-bold.text-primary.mx-1 /
                                        | CEO, Yamaha Uruguay

            // Blog preview section
            section.py-5
                .container.px-5.my-5
                    .row.gx-5.justify-content-center
                        .col-lg-8.col-xl-6
                            .text-center
                                h2.fw-bolder De nuestro blog
                                p.lead.fw-normal.text-muted.mb-5 Estos son las últimas entradas de nuestro blog.
                    .row.gx-5
                        .col-lg-4.mb-5
                            article.card.h-100.shadow.border-0
                                img.card-img-top(src='assets/img/encuentro_motos.jpeg', alt='Encuentro de motos deportivas')
                                .card-body.p-4
                                    .badge.bg-primary.bg-gradient.rounded-pill.mb-2 Novedades
                                    a.text-decoration-none.link-dark.stretched-link(href='blog-post-1.html')
                                        h5.card-title.mb-3 Gran Encuentro Anual
                                    p.card-text.mb-0
                                        | Únete a nosotros en el Gran Encuentro Anual de Motos Deportivas. Una jornada llena de adrenalina, velocidad y camaradería. ¡No te lo pierdas!
                                .card-footer.p-4.pt-0.bg-transparent.border-top-0
                                    .d-flex.align-items-end.justify-content-between
                                        .d-flex.align-items-center
                                            img.rounded-circle.me-3(src='assets/img/profile_pictures/muffin_reportera.jpg', alt='Foto de Reportera Muffin')
                                            .small
                                                .fw-bold Muffin 
                                                .text-muted 2 de Febrero de 2023 &middot; 6 minutos
                        .col-lg-4.mb-5
                            article.card.h-100.shadow.border-0
                                img.card-img-top(src='https://dummyimage.com/600x350/adb5bd/495057', alt='...')
                                .card-body.p-4
                                    .badge.bg-primary.bg-gradient.rounded-pill.mb-2 Novedades
                                    a.text-decoration-none.link-dark.stretched-link(href='blog-post-2.html')
                                        h5.card-title.mb-3 Ruta de la Costa
                                    p.card-text.mb-0
                                        | This text is a bit longer to illustrate the adaptive height of each card. Some quick example text to build on the card title and make up the bulk of the card's content.
                                .card-footer.p-4.pt-0.bg-transparent.border-top-0
                                    .d-flex.align-items-end.justify-content-between
                                        .d-flex.align-items-center
                                            img.rounded-circle.me-3(src='https://dummyimage.com/40x40/ced4da/6c757d', alt='...')
                                            .small
                                                .fw-bold Josiah Barclay
                                                .text-muted March 23, 2023 &middot; 4 min read
                        .col-lg-4.mb-5
                            article.card.h-100.shadow.border-0
                                img.card-img-top(src='https://dummyimage.com/600x350/6c757d/343a40', alt='...')
                                .card-body.p-4
                                    .badge.bg-primary.bg-gradient.rounded-pill.mb-2 Novedades
                                    a.text-decoration-none.link-dark.stretched-link(href='blog-post-3.html')
                                        h5.card-title.mb-3 The last blog post title is a little bit longer than the others
                                    p.card-text.mb-0
                                        | Some more quick example text to build on the card title and make up the bulk of the card's content.
                                .card-footer.p-4.pt-0.bg-transparent.border-top-0
                                    .d-flex.align-items-end.justify-content-between
                                        .d-flex.align-items-center
                                            img.rounded-circle.me-3(src='https://dummyimage.com/40x40/ced4da/6c757d', alt='...')
                                            .small
                                                .fw-bold Evelyn Martinez
                                                .text-muted April 2, 2023 &middot; 10 min read

        // Footer
        include includes/footer.pug

        include includes/scripts.pug
