doctype html
html(lang='en')

    head
        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
        meta(name='description', content='Sitio referente sobre el mundo de las motos, rutas recomendadas, últimos modelos, eventos')
        meta(name='author', content='Cindy Pereyra')

        title CP Motos - Tu comunidad motera

        // Favicon
        link(rel='icon', type='image/x-icon', href='assets/favicon.ico')

        include includes/css.pug

    body.d-flex.flex-column.h-100

        main.flex-shrink-0

            // Navigation
            include includes/navbar.pug

            // Header
            header.bg-dark.py-5.header-background
                .container.px-5
                    .row.gx-5.align-items-center.justify-content-center
                        .col-lg-7.col-xl-6.col-xxl-5
                            .my-5.text-center.text-xl-start
                                h1.display-5.fw-bolder.text-white.mb-2 Bienvenido
                                p.lead.fw-normal.text-white.mb-4 Aquí encontrarás todo lo relacionado con el mundo de las motocicletas, reviews de nuevos modelos, rutas sugeridas y mucho más!
                                .d-grid.gap-3.d-sm-flex.justify-content-sm-center.justify-content-xl-start
                                    a.btn.btn-outline-light.btn-lg.px-4(href='blog-post-1-7lagos.html') Ruta recomendada del mes
                        .col-xl-5.col-xxl-6.d-none.d-xl-block.text-center

            // Blog preview section
            section.py-5
                .container.px-5.my-5
                    .row.gx-5.justify-content-center
                        .col-lg-8.col-xl-6
                            .text-center
                                h2.fw-bolder De nuestro blog
                                p.lead.fw-normal.text-muted.mb-5 Estos son las últimas reviews de nuevos modelos.
                    .row.gx-5
                        .col-lg-4.mb-5
                            article.card.h-100.shadow.border-0
                                img.card-img-top(src='assets/img/ruta_siete_lagos.webp', alt='Suzuki Hayabusa')
                                .card-body.p-4
                                    .badge.bg-primary.bg-gradient.rounded-pill.mb-2 Novedades
                                    a.text-decoration-none.link-dark.stretched-link(href='blog-post-4-hayabusa.html')
                                        h5.card-title.mb-3 Suzuki Hayabusa 2024
                                    p.card-text.mb-0
                                        | Revisa con nosotros la nueva versión de la Suzuki Hayabusa, lanzada este año en Marbella
                                .card-footer.p-4.pt-0.bg-transparent.border-top-0
                                    .d-flex.align-items-end.justify-content-between
                                        .d-flex.align-items-center
                                            img.rounded-circle.me-3(src='assets/img/reportera1_40x40.webp', alt='Foto de Reportera Martina Rodríguez ')
                                            .small
                                                .fw-bold Marcela Sánchez 
                                                .text-muted 17 de mayo de 2024 &middot; 4 minutos
                        .col-lg-4.mb-5
                            article.card.h-100.shadow.border-0
                                img.card-img-top(src='../assets/img/card_ruta66_rider.webp', alt='Imagen de tres motos viajando por la mítica Ruta 66')
                                .card-body.p-4
                                    .badge.bg-primary.bg-gradient.rounded-pill.mb-2 Novedades
                                    a.text-decoration-none.link-dark.stretched-link(href='blog-post-2-ruta-66.html')
                                        h5.card-title.mb-3 La mítica "Ruta 66"
                                    p.card-text.mb-0
                                        | Una travesía de 2,448 millas desde Chicago hasta Santa Mónica. Ideal para los amantes de la aventura, esta carretera ofrece un viaje inolvidable a través de la historia, cultura y paisajes impresionantes de los Estados Unidos.
                                .card-footer.p-4.pt-0.bg-transparent.border-top-0
                                    .d-flex.align-items-end.justify-content-between
                                        .d-flex.align-items-center
                                            img.rounded-circle.me-3(src='assets/img/reportera2_40x40.webp', alt='Imagen de reportera Cindy Pereyra')
                                            .small
                                                .fw-bold Cindy Pereyra
                                                .text-muted 20 de diciembre de 2023 &middot; 4 minutos
                        .col-lg-4.mb-5
                            article.card.h-100.shadow.border-0
                                img.card-img-top(src='../assets/img/carreter_Austral.webp', alt='carretera Austral en Chile')
                                .card-body.p-4
                                    .badge.bg-primary.bg-gradient.rounded-pill.mb-2 Novedades
                                    a.text-decoration-none.link-dark.stretched-link(href='blog-post-3-austral.html')
                                        h5.card-title.mb-3 Aventura en la Carretera Austral
                                    p.card-text.mb-0
                                        | Explora los más de 1,200 kilómetros de la Carretera Austral, atravesando glaciares, fiordos y montañas en la impresionante Patagonia chilena. Perfecta para motociclistas aventureros que buscan paisajes espectaculares y experiencias inolvidables.
                                .card-footer.p-4.pt-0.bg-transparent.border-top-0
                                    .d-flex.align-items-end.justify-content-between
                                        .d-flex.align-items-center
                                            img.rounded-circle.me-3(src='assets/img/reportero_40x40.webp', alt='Imagen de reportero Pedro Hernández')
                                            .small
                                                .fw-bold Pedro Hernández
                                                .text-muted 16 de junio 2023 &middot; 10 minutos

            // Moto destacada del mes
            section.py-5
                .container.px-5.my-5
                    .row.gx-5.justify-content-center
                        .col-lg-8.col-xl-6
                            .text-center
                                h2.fw-bolder Moto destacada del mes
                                p.lead.fw-normal.text-muted.mb-5 Descubre la moto del mes y sus características.
                    .row.gx-5.justify-content-center
                        .col-lg-10
                            .carousel.slide(data-bs-ride='carousel')
                                .carousel-inner
                                    .carousel-item.active
                                        img.d-block.w-100(src='assets/img/hayabusa-1.webp', alt='Moto deportiva marca Hayabusa, color negro')
                                    .carousel-item
                                        img.d-block.w-100(src='assets/img/hayabusa-2.webp', alt='Moto deportiva marca Hayabusa, color negro con detalles en rojo')
                                    .carousel-item
                                        img.d-block.w-100(src='assets/img/hayabusa-3.webp', alt='Moto deportiva marca Hayabusa, color amarilla')
                                button.carousel-control-prev(type='button', data-bs-target='.carousel', data-bs-slide='prev')
                                    span.carousel-control-prev-icon(aria-hidden='true')
                                button.carousel-control-next(type='button', data-bs-target='.carousel', data-bs-slide='next')
                                    span.carousel-control-next-icon(aria-hidden='true')
       

            // Testimonial section
            section.py-5.bg-light
                .container.px-5.my-5
                    .row.gx-5.justify-content-center
                        .col-lg-10.col-xl-7
                            .text-center
                                .fs-4.mb-4.fst-italic "Este sitio ha logrado reunir a los mayores referentes motociclistas del Uruguay, y ha creado una enorme comunidad, uniendo así a las personas que compartimos esta enorme pasión: las motos."
                                .d-flex.align-items-center.justify-content-center
                                    img.rounded-circle.me-3(src='assets/img/profile_pictures/robert_martinez.jpeg', alt='Foto de Robert Martínez')
                                    .fw-bold
                                        | Robert Martínez
                                        span.fw-bold.text-primary.mx-1 /
                                        | CEO, Yamaha Uruguay

        // Footer
        include includes/footer.pug

        include includes/scripts.pug
