doctype html
html(lang='en')

    head

        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
        meta(name='description', content='')
        meta(name='author', content='')

        title CP Motos - Tu comunidad motera

        // Favicon
        link(rel='icon', type='image/x-icon', href='assets/favicon.ico')

        include includes/css.pug

    body.d-flex.flex-column

        main.flex-shrink-0

            // Navigation
            include includes/navbar.pug

            // Header
            header.bg-dark.text-white.py-5
                .container.px-5
                    .row.justify-content-center
                        .col-lg-8.col-xxl-6
                            .text-center.my-5
                                h1.fw-bolder.mb-3 Descubre las Motos que Marcan Tendencia
                                p.lead.fw-normal.text-muted.mb-4Descubre Descubre motos deportivas, personalizadas y clásicas. Conoce sus especificaciones, diseño y experiencia de conducción. Encuentra la moto perfecta para ti y prepárate para una experiencia única sobre dos ruedas.
            // Sección uno
            section.py-5.bg-light#scroll-target
                .container.px-5.my-5

                    .row.gx-5.align-items-center
                        .col-lg-6
                            img.img-fluid.rounded.mb-5.mb-lg-0(src='../assets/img/kawasaki_h2r.webp', alt='Moto deportiva Kawasaki H2r')
                        .col-lg-6
                            h2.fw-bolder Kawasaki Ninja H2R
                            h3.fw-normal.text-muted Moto deportiva
                            p.lead.fw-normal.text-muted.mb-0 Destacada como una de las mejores motos deportivas del mundo por su impresionante combinación de potencia y tecnología vanzada. Tiene un gran motor con 4 cilindros en línea de 998 cc, genera 300 CV. Su chasis  de aleación de aluminio y su suspensión de alta gama, ofrece una experiencia de conducción sin igual, con una aceleración y velocidad máxima que desafían cualquier expectativa. Su diseño aerodinámico con carenado de fibra de carbono y alerones de alta eficiencia no solo mejora el rendimiento, sino que también asegura una estabilidad excepcional a altas velocidades

            // Sección dos
            section.py-5
                .container.px-5.my-5

                    .row.gx-5.align-items-center
                        .col-lg-6.order-first.order-lg-last
                            img.img-fluid.rounded.mb-5.mb-lg-0(src='../assets/img/harley-davidson-sportster2022.webp', alt='Moto tipo custom, marca Harley Davidson')
                        .col-lg-6
                            h2.fw-bolder Harley Davidson 
                            h3.fw-normal.text-muted Moto Custom
                            p.lead.fw-normal.text-muted.mb-0 La Harley-Davidson Sportster S 2022 redefine la legendaria línea Sportster con un potente motor Revolution Max 1250T, que entrega 121 caballos de fuerza para una experiencia de conducción dinámica y emocionante. Su diseño audaz y musculoso, caracterizado por un tanque de combustible en forma de lágrima, escape elevado y neumáticos anchos, le otorga una apariencia robusta y distintiva. La suspensión delantera invertida y la suspensión trasera ajustable garantizan un manejo preciso y una conducción cómoda en diversas condiciones.


            // Sección tres
            section.py-5.bg-light#scroll-target
                .container.px-5.my-5

                    .row.gx-5.align-items-center
                        .col-lg-6
                            img.img-fluid.rounded.mb-5.mb-lg-0(src='../assets/img/KTM-450-SX-F-Factory-Edition.webp', alt='Moto Cross marca KTM Modelo SX-F-FACTORY')
                        .col-lg-6
                            h2.fw-bolder KTM 450 SX-F Factory
                            h3.fw-normal.text-muted Moto Cross
                            p.lead.fw-normal.text-muted.mb-0 Una de las mejores motos de motocross, combinando tecnología de vanguardia y un rendimiento incomparable. Equipado con un motor SOHC de 450 cc optimizado para competiciones de alto nivel, este modelo ofrece una potencia y una aceleración impresionantes. La transmisión de cinco velocidades con embrague hidráulico y el sistema de escape Akrapovič mejoran la entrega de potencia y reducen el peso total de la moto, asegurando un rendimiento superior en cualquier pista.

            // Sección cuaatro
            section.py-5
                .container.px-5.my-5

                    .row.gx-5.align-items-center
                        .col-lg-6.order-first.order-lg-last
                            img.img-fluid.rounded.mb-5.mb-lg-0(src='../assets/img/BMW_R_1250_GS_2018.png.webp', alt='Moto tipo custom, marca Harley Davidson')
                        .col-lg-6
                            h2.fw-bolder BMW R 1250 GS 
                            h3.fw-normal.text-muted Moto Adventure
                            p.lead.fw-normal.text-muted.mb-0 Es una motocicleta icónica en el segmento de aventura, destacada por su diseño robusto, ergonomía avanzada y un potente motor bóxer de 1254 cc con tecnología BMW ShiftCam, que ofrece 136 caballos de fuerza. Equipado con tecnologías avanzadas como una pantalla TFT, modos de conducción Pro, suspensión electrónica Dynamic ESA y faros LED adaptativos, este modelo está preparado tanto para carretera como para terrenos difíciles, gracias a su suspensión de largo recorrido y neumáticos todoterreno. Con características adicionales como asientos calefactables, control de crucero y amplio espacio de almacenamiento, es ideal para los aventureros que buscan explorar sin límites.




            // Team members section
            section.py-5.bg-light
                .container.px-5.my-5
                    .text-center
                        h2.fw-bolder Marcas recomendadas
                        p.lead.fw-normal.text-muted.mb-5 Estas son las más reconocidas del mercado mundial
                    .row.gx-5.row-cols-1.row-cols-sm-2.row-cols-xl-4.justify-content-center
                        .col.mb-5.mb-5.mb-xl-0
                            .text-center
                                img.img-fluid.rounded-circle.mb-4.px-4(src='../assets/img/logo_marcas/Kawasaki_Logo_150x150.webp', alt='Logo Kawasaki')
                                h5.fw-bolder Kawasaki 
                        .col.mb-5.mb-5.mb-xl-0
                            .text-center
                                img.img-fluid.rounded-circle.mb-4.px-4(src='../assets/img/logo_marcas/Harley_Davidson_Logo_150x150.webp', alt='Logo Harley')
                                h5.fw-bolder Harley Davidson
                        .col.mb-5.mb-5.mb-sm-0
                            .text-center
                                img.img-fluid.rounded-circle.mb-4.px-4(src='../assets/img/logo_marcas/bmw_logo.webp', alt='Logo BMW')
                                h5.fw-bolder BMW
                        .col.mb-5
                            .text-center
                                img.img-fluid.rounded-circle.mb-4.px-4(src='../assets/img/logo_marcas/ktm_logo.webp', alt='Logo KTM')
                                h5.fw-bolder KTM

        // Footer
        include includes/footer.pug

        include includes/scripts.pug
